</html><!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="black" text="yellow">
    {% for msg in messages %}
    <h4 style="border: 1px solid brown; height: 20px; width: 100px;">{{msg}}</h4>
    
    {% endfor %}
    <h1>Welcome {{data.Name}}</h1> 
    <br>
    <a href="{% url 'app1:update' data.id %}" >UPDATE</a><br>
    <a href="{% url 'app1:changepassword' data.id %}">Change password</a>
    <br>
    <a href="{% url 'app1:logout' %}">logout</a>
</body>
</html>